<html>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<img class="logo" src="assets\images\logo.png" alt="not found">

         <div class="nav" >
            <a class="links" href="#home" >HOME</a>
            <a class="links" href="#about">ABOUT US</a>


             <div class="dropdown">
                <a class="dropA" href="#chocolates">CHOCOLATES</a>

                <div class="dropdown-content">
                  <a routerLink='/newlaunch'>New Launches</a>
                  <a href="#">Link 2</a>
                  <a href="#">Link 3</a>
                </div>
              </div>


            <a class="links" href="D:\HTML\login.html">LOGIN</a>
            <a class="links" href="#contact">CONTACT US</a>
            <a class="links" routerLink='/cart'><span style="font-size: 25px; color:brown;">  <i class="fas fa-shopping-cart"></i></span>cart</a>

            </div>
        </html>
