

.Flex-container {
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  background-color:whitesmoke;
  background-color: white;

  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;

}



.Flex-container > div.div1{

  background-color: #f1f1f1;
  width: 250px;
  margin: 80px;
  text-align: center;
  /* line-height: 75px; */
  font-size: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 2em;
  border: 20px ridge transparent;

  border-image-source: url(/assets/images/border1.png);
  border-image-repeat:stretch;
  border-image-slice: 100;
  border-image-width: 10px;
  animation: mymove1 3s infinite;
  transition: 0.4s;
}

img{
width: 150px;
border: 10px ridge transparent;
  padding: 15px;
  width: 50%;
  /* border-image-source: url(/assets/images/border1.png); */
  /* border-image-repeat:round; */
  border-image-slice: 100;
  border-image-width: 10px;

}




div.div1:hover
{
  transform: scale(1.1);

 color:brown;
 background-color: seagreen;

}



.offer{
  background-color: white;
}




.s2{
  margin-top: 50px;


  margin-bottom: 100px;
  width: 100%;

  color: black;
  animation: mymove 2s infinite;
}

.divsp1{

  display: block;
  padding: auto;
  margin-left: auto;
  margin-right: auto;
  font-size: 8  0px;
  background-color: snow;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;

  border: 10px ridge transparent;


  border-image-source: url(/assets/images/border1.png);

  border-image-slice: 100;
  border-image-width: 20px;
  animation: mymove 2s infinite;
}

.sp1{

}



@keyframes mymove {
  50% {color:rgb(255, 204, 77);}

}
/* .cont1{

  position: relative;
  margin-left: 100px;
  width: 30%;



}

.typ1 {
  display: block;
  width: 300px;
  border-style: outset;
  margin-top: 100px;
  border-radius: 20px;
  box-shadow: chocolate 3px 3px;



}

.ovr1 {
  position: absolute;
  margin-top: 100px;


  bottom: 0;
  left: 0;
  right: 0;
  background-color:white;
  width: 300px;
  height: 0;
  overflow: hidden;
  transition: .5s ease;
}

.cont1:hover .ovr1 {
  height: 200px;
}

.txt1
{
  font-size: 40px;
  color:black;
  text-align:center;
  font-family:Georgia, 'Times New Roman', Times, serif;

}

.cont2{
  position: relative;
  margin-left: 550px;
  width: 30%;
}

.typ2{
  display: block;
  width: 300px;
  height: auto;
  border-style: outset;
  margin-top: -305px;
  border-radius: 20px;
  box-shadow: chocolate 3px 3px;
}

.ovr2 {
  position: absolute;
  margin-top: -305px;

  bottom: 0;
  left: 0;
  right: 0;
  background-color:white;
  overflow: hidden;
  width: 300px;
  height: 0;
  transition: .5s ease;
}

.cont2:hover .ovr2 {
  height: 200px;
}

.txt2
{
  font-size: 40px;
  color:black;
  text-align:center;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.cont3{
  position: relative;
  margin-left: 1000px;
  width: 30%;
}

.typ3 {
  display: block;
  width: 300px;
  height: 300px;
  border-style: outset;
  margin-top: -305px;
  border-radius: 20px;
  box-shadow: chocolate 3px 3px;

}

.ovr3 {
  position: absolute;
  margin-top: -305px;

  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  overflow: hidden;
  width: 300px;
  height: 0;
  transition: .5s ease;
}

.cont3:hover .ovr3 {
  height: 200px;
}

.txt3
{
  font-size: 40px;
  color:black;
  text-align:center;
  font-family:Georgia, 'Times New Roman', Times, serif;

}

.cont4{
  position: relative;
  margin-left: 100px;
  width: 30%;
}

.typ4 {
  display: block;
  width: 300px;
  border-style: outset;
  margin-top: 100px;
  border-radius: 20px;
  box-shadow: chocolate 3px 3px;
}

.ovr4 {
  position: absolute;
  margin-top: 100px;

  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  overflow: hidden;
  width: 300px;
  height: 0;
  transition: .5s ease;
}

.cont4:hover .ovr4 {
  height: 200px;
}

.txt4
{
  font-size: 40px;
  color:black;
  text-align:center;
font-family:Georgia, 'Times New Roman', Times, serif;
}

.cont5{
  position: relative;
  margin-left: 550px;
  width: 30%;

}

.typ5 {
  display: block;
  width: 300px;
  border-style: outset;
  margin-top: -305px;
  border-radius: 20px;
  box-shadow: chocolate 3px 3px;
}

.ovr5 {
  position: absolute;
  margin-top: -305px;

  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  overflow: hidden;
  width: 300px;
  height: 0;
  transition: .5s ease;
}

.cont5:hover .ovr5{
  height: 200px;
}

.txt5
{
  font-size: 40px;
  color:black;
  text-align:center;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.cont6{
  position: relative;
  margin-left: 1000px;

  width: 30%;
}

.typ6 {
  display: block;
  width: 300px;
  height: 300px;
  border-style: outset;
  margin-top: -305px;
  border-radius: 20px;
  box-shadow: chocolate 3px 3px;
}

.ovr6 {
  position: absolute;
  margin-top: 100px;

  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  overflow: hidden;
  width: 300px;
  height: 0;
  transition: .5s ease;
}

.cont6:hover .ovr6 {
  height: 200px;
}

.txt6
{
  font-size: 40px;
  color:black;
  text-align:center;
  font-family:Georgia, 'Times New Roman', Times, serif;
} */


.offer
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  /* margin-left: 150px;
  margin-right: 150px;  */
  border-style: outset;
  border-radius: 20px;
  box-shadow: chocolate 3px 3px;
  padding-top: 1cm;
  padding-bottom: 300px;

  padding: auto;
}

.spof{
  font-style: italic;
  font-size: 50px;
  text-align: center;
  text-shadow: gray 2px 2px;

}

.pof{


  font-size: 40px;
  font-style: italic;
  /* margin-left: 440px;
   */
   text-align: center;


}

.pof1{
  font-size: 40px;
  font-style: italic;
  /* margin-left: 380px; */
 text-align: center;

  margin-top: -40px;

}


.ch5{
  display: block;
 margin-left: auto;
 margin-right: auto;
  margin-top: -10px;
  width: 50%;
}

i:hover{
  color: brown;
  border-style: inset;
  border-radius: 1em;
}


@media screen and (max-width:1434px){
  html{
    font-size: 75%;
  }
  .Flex-container {
    max-width:100%;
  }
  .offer
{
  max-width: 100%;
}
.s2{
  max-width: 100%;
}





}




@media screen and (max-width:998px){
  html{
    font-size: 55%;
  }
  .Flex-container {
    max-width:100%;
  }
  .offer
{
  max-width: 100%;
}
.s2{
  max-width: 100%;
}


}

@media screen and(max-width:768px){
  html{
    font-size: 45%;
  }
  .Flex-container {
    max-width:100%;
  }
  .offer
{
  max-width: 100%;
}
.s2{
  max-width: 100%;
}
.spof{
  font-style: italic;
  font-size: 10%;
 text-align: center;
  text-shadow: gray 2px 2px;

}

.pof{
  font-size: 10%;
  font-style: italic;

  text-align: center;

}

.pof1{
  font-size: 10%;
  font-style: italic;
  text-align: center;

  margin-top: -40px;

}



}

@media screen and(max-width:468px){
  html{
    font-size: 45%;
  }
  .Flex-container {
    max-width:100%;
  }
  .offer
{
  max-width: 100%;
}
.s2{
  max-width: 100%;
}

.spof{
  font-style: italic;
  font-size: 10%;
  text-align: center;

  text-shadow: gray 2px 2px;

}

.pof{
  font-size: 10%;
  font-style: italic;
  text-align: center;

}

.pof1{
  font-size: 10%;
  font-style: italic;
  text-align: center;


  margin-top: -40px;

}
.ch5{

  width: 100%;
}


}
