

<html>


        <div class="main" id="home">
          <app-header></app-header>
  <br>
<br>

      <img class="ch1"  src="assets\images\ch1.jpg" alt="not found">
      <br/>
      <div class="head1">
          <strong> <h1>WELCOME TO CHOCOLATE        <img class="ch2"  src="assets\images\ch2.gif" alt="not found">
          </h1></strong>
          <span class="hd1">Savor the difference of artisan chocolate, handcrafted by local <br>chocolatiers and made available here.</span>
          <br>
          <br>
          <img class="imgh1" src="assets\images\h1.png" alt="not found">

      </div>

      <br>

  <div class="About" id="about">

      <strong><p class="sp1">About Our Company </p></strong>

      <p class="p1">We, at Box of Happiness plan, fabricate and extraordinarily blessing wrap chocolates, to fit all events and convey delight to your uncommon day.
          <br><br>
          We make chocolates for you, as a token of warmth for different occasions like New Year, Valentine’s Day, Christmas, New Year,Birthdays, Weddings, Anniversaries and some other day you need to make uncommon.
          <br><br>

          You can choose from a wide assortment of chocolates going from plain rich chocolates to nutty focuses, from crunches to seasoned rarities, from rich truffles to delicate caramels and a lot more to satisfy the chocoholics.
          <br><br>
Every one of our chocolates are hand wrapped in light of style and interests keeping your event.<br> We are additionally devoted to make customized bundling and teaching your customized plans to the chocolates bundling to convey delight to your extraordinary day.
<br><br>
Box of Happiness guarantees to leave a ‘Chocolaty Signature’ in your heart.
      </p>
      <img class="ch4" src="assets\images\ch4.png" alt="not found">




    </div>



  </div>
  <app-chocolates></app-chocolates>
  <app-footer></app-footer>


  </html>





















